---
import { Image } from "astro:assets";
import interior from "../assets/graphic/interior.png";
import map1 from "../assets/graphic/mapping1.png";
import map2 from "../assets/graphic/mapping2.png";

import logo from "../assets/graphic/logo1.png";

import typo1 from "../assets/graphic/typo1.png";
import typo2 from "../assets/graphic/typo2.png";

import material1 from "../assets/graphic/mapping1.png";
import material2 from "../assets/graphic/mapping2.png";

import sign1 from "../assets/graphic/sign1.png";
import sign2 from "../assets/graphic/sign2.png";
import sign3 from "../assets/graphic/sign3.png";
import sign4 from "../assets/graphic/sign4.png";
import sign5 from "../assets/graphic/sign5.png";
import sign6 from "../assets/graphic/sign6.png";
import sign7 from "../assets/graphic/sign7.png";
import sign8 from "../assets/graphic/sign8.png";
import sign9 from "../assets/graphic/sign9.png";
import sign10 from "../assets/graphic/sign10.png";
import sign11 from "../assets/graphic/sign11.png";

import DetailLayout from "../layouts/DetailLayout.astro";
---

<DetailLayout
  name="GRAPHIC"
  title="GRAPHIC project detail | Preawa's Portfolio"
  link="/"
>
  <div class="flex flex-col gap-24 ml-20 mt-10">
    <div class="flex flex-col gap-1">
      <div class="flex flex-row gap-4">
        <h2 class="font-normal text-start">01</h2>
        <div class="flex flex-col">
          <h2>PRASAT ANGOR</h2>
          <h2>IN CLASS</h2>
          <h2>2023</h2>
        </div>
      </div>
      <div class="text-[28px] font-light max-w-[1183px] ml-12">
        Redesign the signage, logo, and interior of Araya Hotel in Cambodia,
        targeting foreign guests with a relatively affluent background who are
        interested in culture and history.
      </div>
    </div>
    <div class="inline-flex flex-col justify-start gap-20">
      <div class="flex flex-col justify-start gap-9">
        <h2 class="font-bold">INTERIOR</h2>
        <div
          class="p-3 bg-yellow01 flex-col justify-start items-start gap-2.5 flex w-[608px] h-[352px]"
        >
          <Image
            alt="Project planner"
            src={interior}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
        </div>
      </div>
      <div class="flex flex-col justify-start gap-9">
        <h2 class="font-bold">SIGNAGE MAPPING</h2>
        <div
          class="p-3 bg-yellow01 flex-row justify-start items-start gap-3 flex w-[1206px] h-[352px]"
        >
          <Image
            alt="Project planner"
            src={map1}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
          <Image
            alt="Project planner"
            src={map2}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
        </div>
      </div>

      <div class="flex flex-col justify-start gap-9">
        <h2 class="font-bold">LOGO</h2>
        <div
          class="p-3 bg-yellow01 flex-col justify-start items-start gap-2.5 flex w-[608px] h-[352px]"
        >
          <Image
            alt="Project planner"
            src={logo}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
        </div>
      </div>

      <div class="flex flex-col justify-start gap-9">
        <h2 class="font-bold">TYPOGRAPHY</h2>
        <div
          class="p-3 bg-yellow01 flex-row justify-start items-start gap-3 flex w-[1206px] h-[352px]"
        >
          <Image
            alt="Project planner"
            src={typo1}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
          <Image
            alt="Project planner"
            src={typo2}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
        </div>
      </div>

      <div class="flex flex-col justify-start gap-9">
        <h2 class="font-bold">MATERIAL</h2>
        <div
          class="p-3 bg-yellow01 flex-row justify-start items-start gap-3 flex w-[1206px] h-[352px]"
        >
          <Image
            alt="Project planner"
            src={material1}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
          <Image
            alt="Project planner"
            src={material2}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
        </div>
      </div>
      <div class="flex flex-col justify-start gap-9">
        <h2 class="font-bold">SIGNAGE</h2>
        <div
          class="p-3 bg-yellow01 grid-cols-2 justify-start items-start gap-3 grid w-[1211px] h-[2071px]"
        >
          <Image
            alt="Project planner"
            src={sign1}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
          <Image
            alt="Project planner"
            src={sign2}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
          <Image
            alt="Project planner"
            src={sign3}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
          <Image
            alt="Project planner"
            src={sign4}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
          <Image
            alt="Project planner"
            src={sign5}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
          <Image
            alt="Project planner"
            src={sign6}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
          <Image
            alt="Project planner"
            src={sign7}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
          <Image
            alt="Project planner"
            src={sign8}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
          <Image
            alt="Project planner"
            src={sign9}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
          <Image
            alt="Project planner"
            src={sign10}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
          <Image
            alt="Project planner"
            src={sign11}
            width={584}
            height={329}
            class="object-cover cursor-pointer shadow-lg"
          />
        </div>
      </div>
    </div>
  </div>
</DetailLayout>
