---
import { Image } from "astro:assets";
import pork1 from "../../src/assets/pork1.png";
import pork2 from "../../src/assets/pork2.png";
import { fname, lname, skills } from "../datas/data";
---

<div class="flex flex-row mt-[107px] justify-between flex-wrap">
  <div class="flex flex-col">
    <h1 class="font-semibold">{fname}</h1>
    <h1 class="font-semibold">{lname}</h1>
  </div>
  <div class="flex flex-row gap-4 mt-16 flex-wrap-reverse">
    <Image
      width={204}
      height={248}
      class="object-none max-h-[248px] mt-[145px]"
      src={pork1}
      alt="kanyapat-saetiew2"
    />
    <div class="flex flex-row gap-3">
      <div class="flex flex-col min-w-[208px] gap-2">
        <h4 class="text-end font-medium">Skills</h4>
        <Image
          width={205}
          height={256}
          class="object-none max-h-[256px]"
          src={pork2}
          alt="kanyapat-saetiew1"
        />
      </div>
      <div class="flex flex-col">
        {
          skills.map((skill) => (
            <div class="flex flex-row">
              <li class="text-xl font-light" />
              <h4 class="font-light">{skill}</h4>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
