---
import { Image } from "astro:assets";
import pork1 from "../../src/assets/pork1.png";
import pork2 from "../../src/assets/pork2.png";
import { fname, lname, skills } from "../datas/data";
---

<div class="flex flex-row mt-[107px] justify-between flex-wrap">
  <div class="flex flex-col">
    <div class="font-semibold text-6xl sm:text-[86px]">{fname}</div>
    <div class="font-semibold text-6xl sm:text-[86px]">{lname}</div>
  </div>
  <div class="flex flex-row gap-4 mt-16 flex-wrap-reverse">
    <div class="flex w-full justify-center items-start md:w-auto">
      <Image
      width={204}
      height={248}
      class="object-none max-h-[248px] md:mt-[145px]"
      src={pork1}
      alt="kanyapat-saetiew2"
    />
    </div>
    <div class="flex flex-row gap-3">
      <div class="flex flex-col min-w-[208px] gap-2">
        <h4 class="text-end font-medium">Skills</h4>
        <Image
          width={205}
          height={256}
          class="object-none max-h-[256px]"
          src={pork2}
          alt="kanyapat-saetiew1"
        />
      </div>
      <div class="flex flex-col">
        {
          skills.map((skill) => (
            <div class="flex flex-row">
              <li class="text-xl font-light" />
              <div class="font-light text-sm md:text-2xl">{skill}</div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
